
/* ---------- General Layout ---------- */

html {
    background-color: #FFFFFF;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


body {
    color: #0D1E34;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*, *::before, *::after {	
    box-sizing: inherit;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}

a {
    color: #26599B;
    cursor: pointer;
    text-decoration: none;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

.section {
    padding: 3rem 1.5rem;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}

.section, .is-sans {
    font-family: "Poppins","Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-weight: 400;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: +400;
}

body, button, input, select, textarea {
    font-family: "Poppins","Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.navbar {
    color: #FFFFFF;
    background-color: #0D1E34;
    z-index: +9;
}


@media screen and (min-width: 1024px) {
  section:first-child {
    padding-top: 5.875em;
  }
}

.title {
    color: #363636;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.125;
}

.title {
    font-weight: 700;
    color: #0D1E34;
}

.title.is-2 {
    font-size: 3.5rem;
}

.title.is-2 {
    font-size: 3.5rem;
    line-height: 1.14em;
}


.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .light-header {
    color: #0D1E34;
    background-color: #FFFFFF;
  }
}

@media screen and (min-width: 769px) {
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 769px) {
  .navbar, .navbar-menu, .navbar-start, .navbar-end {
    align-items: stretch;
    display: flex;
  }
}

@media screen and (min-width: 769px), print {
  .dark-header {
    color: #FFFFFF;
    background-color: #0D1E34;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 1.25em 0;
  }
}


a.navbar-item, .navbar-link {
    cursor: pointer;
}

@media screen and (min-width: 769px) {
  .navbar-item, .navbar-link {
    align-items: center;
    display: flex;
  }
}

.navbar-item, .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}


.navbar-item {
    color: currentColor;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}


@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

.flow {
    clear: both;
}

@media screen and (min-width: 769px) {
  .flow {
    margin-left: calc(16.3% - 0.75rem);
    margin-right: calc(16.3% - 0.75rem);
    margin-top: -1.5rem;
  }
}


@media screen and (min-width: 769px) {
  .flow:last-child {
    margin-bottom: -1.5rem;
  }
}

a.teaser {
    display: block;
}

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

a.teaser:hover {
    outline: 0.5em solid #f2f2f3;
    outline-color: rgb(242, 242, 243);
    outline-style: solid;
    outline-width: 0.5em;
    background: #f2f2f3;
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 1.5rem);
}

.media-list .media, .media-list .media + .media {
    margin-top: 32px;
    margin-bottom: 64px;
}

.media-list .media, .media-list .media + .media {
    margin-bottom: 32px;
}


.media.teaser .media-left {
    width: 12em;
}

.media-list .teaser .media-left {
    #height: 7rem;
    overflow: hidden;
}

@media screen and (min-width: 769px), print {
  .column.is-one-third, .column.is-one-third-tablet {
    flex: none;
    width: 33.3333%;
  }
}

@media screen and (min-width: 1024px) {
  .column.is-one-quarter-desktop {
    flex: none;
    width: 25%;
  }
}



.media {
    align-items: flex-start;
    display: flex;
    text-align: left;
}

.columns {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
}

.media-left, .media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.media-left {
    margin-right: 1rem;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1.5rem;
}

.is-mono {
    font-family: "Anonymous Pro","Andale Mono",AndaleMono,monospace;
}


@media screen and (min-width: 769px), print {
  .column.is-two-thirds, .column.is-two-thirds-tablet {
    flex: none;
    width: 66.6666%;
  }
}

@media screen and (min-width: 1024px) {
  .column.is-three-quarters-desktop {
    flex: none;
    width: 75%;
  }
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}

.content .teaser *.title, .teaser *.title {
    margin-bottom: 0;
}

.title.is-5 {
    font-size: 1.25rem;
    line-height: 1.2em;
}

.title, .content .title {
    font-weight: 700;
    color: #0D1E34;
}

.title.is-5 {
    font-size: 1.25rem;
}

.title:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
}

.content .teaser .title + .subtitle, .teaser .title + .subtitle {
    margin-top: 1em;
}

.content .teaser *.title, .teaser *.title {
    margin-bottom: 0;
}

.subtitle.is-6 {
    font-size: 0.88rem;
}

.title, .subtitle {
    word-break: break-word;
}

.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.footer {
    font-size: 0.88rem;
    font-weight: 700;
    color: #0D1E34;
    padding: 0 1.5rem 3rem 1.5rem;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}

.footer .container {
    padding-top: 3em;
}


.columns.is-multiline {
    flex-wrap: wrap;
}

.columns:last-child {
    margin-bottom: -1.5rem;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: #fafafa;
    color: #26599B;
}

@media screen and (min-width: 769px) { 
  a.navbar-item.is-active:not(:focus):not(:hover), .navbar-link.is-active:not(:focus):not(:hover) {
    background-color: transparent;
  }
}

@media screen and (min-width: 769px), print {
  a.navbar-item.is-active, a.navbar-link.is-active {
    color: currentColor;
  }
}

a.navbar-item.is-active, a.navbar-link.is-active {
    color: #3276CF;
    background-color: transparent;
}

a.teaser:hover {
    outline: 0.5em solid #f2f2f3;
    background: #f2f2f3;
}

main h2 {
  font-size: 210%;
  font-weight: 400;
  margin: 0em 0em 0.5em 0em;
  letter-spacing: -0.02em;
}

main h2 a{
    font-size: 105%;
	#background-color: #f5f5f5;
    font-weight: 400;
    margin: 0em 0em 0.5em 0em;
    letter-spacing: -0.02em;
	line-height: 48px;
	text-decoration: none;
	color : #1a73bb;
	cursor:pointer;
	font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
    margin: 2em 0.8em;
}

.subtitle p {
  width : 85%;
}

.section-article {
    padding: 0rem 1.5rem;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 1em;
}


code, pre{
    color: #ccc;
    background: none;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code, pre {
    background: #2d2d2d;
}

pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

.flow_middle img {
  width :100%;
